
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,700&display=swap');

  html{
    scroll-behavior: smooth;
zoom: 90%;
  }

  #my{
    zoom: 90%;
    }
    
* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'roboto', sans-serif;
}

li{
    list-style-type: none;

}

section{
    background-color: #FAF6EF;
}

.title{
    font-size:120px ;
    margin-bottom: 12px;
    text-align: left;
    line-height: 1;
}

.main__blue{
color: #3C86F6 !important;
}

.main__orange{
    color: #D68A71 !important;

}
p{
    line-height: 1.5;
    font-size: 16px;
}

a{
    text-decoration: none;

}


.click:hover{
transform: scale(1.1);    
}
.click:active{
    transform: scale(0.8);
}

.click{
    transition: all 300ms ease;
    cursor: pointer;
}

button{
    cursor: pointer;
}

section{
    transition: all 300ms ease;
}

.container{
    padding: 50px;
    width: 100%;
}
.row{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 12px;
}

.link__hover-effect{
    position: relative;
}

.link__hover-effect:after{
content: '';
position: absolute;
bottom: -3px;
height: 3px;
width: 0%;
left: 0;
background-color: #D68A71;
transition: all ease 300ms ;

}




.link__hover-effect:hover:after{
 left: 0;
 width: 100%;
}

.underline{
    text-decoration: underline;
}


input, textarea{
width: 100%;
background-color: #242424;
color: #fff;
outline: none;
border: 1px solid #c0c4cc;
border-top:none ;
border-left: none;
border-right: none;
height: 40px;

}

input:hover, textarea:hover{
    border-color: #dcdfe6;
}


label{
    font-size:14px ;
    font-weight: bold;

}

textarea{
    resize: vertical;
    height: 100px;
    margin-top: 8px ;
}

nav,
.scroll,
.header{
    opacity: 1;
    visibility: visible;
    transition: all 600ms 400ms;
}

.modal--open nav,
.modal--open .scroll,
.modal--open .header{
    opacity: 0;
    visibility: hidden;
    transition: all 400ms ;
}



.dark-theme .title,
.dark-theme .section__title,
.dark-theme .section__sub-title,
.dark-theme .nav__link--anchor,
.dark-theme .fa-adjust,
.dark-theme .header__para
{
color: white;
}

.dark-theme section{
    background-color: #242424;
}

.dark-theme #jglogo{
    filter: invert();
}

.dark-theme .scroll__icon{
border-color: white;
}

.dark-theme .scroll__icon:after{
    background-color: white;
    }


    .dark-theme .mail__btn{
        background-color: white;
        color: #242424;
    }

    .dark-theme footer{
        background-color: #3c86f62e;
    }
/* 

LANDING PAGE   

*/

#landing-page{
    min-height: 100vh;
}

.header{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1000px;
    padding: 0 30px;
    z-index: 1;
    
}

.header__content{
    z-index: 77;

}

.header__para {
line-height: 2;
font-size: 24px;
max-width: 450px;
}


.social__list{
    margin-top: 16px;
    display: flex;
}

.social__link{
    background-color: #3C86F6;
    color: white;
    padding: 6px;
    width: 32px;
    height: 32px;
    font-size: 14px;
    margin-right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.mail__btn{
    width: 70px;
    font-size: 32px;
 height: 70px;
 border-radius: 50%;
 border: none;
 background-color: #242424;
 color: white;
 position: fixed;
 bottom: 32px;
 right: 40px;
 z-index: 100;
 box-shadow: 0 12px 30px 0 (0,0,0,0.2);

}

.scroll{
    position: absolute;
    bottom: 20px;
left: 50%;
transform: translateX(-50%);
}

.scroll__icon{
    width: 20px;
    height: 30px;
    border: 2px solid #242424;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll__icon:after{
    content: "";
    width: 4px;
    height: 4px;
    background-color: #242424;
    border-radius: 2px;
    animation: scroll 1000ms infinite alternate-reverse;
    

}

@keyframes scroll {
    0% {
        transform:translateY(3px) ;
    }

    100% {
        transform:translateY(-3px)
}
}


.wave {
    display: inline-block;
    animation: animate-wave 1000ms infinite ease-in-out;
    font-size: 100px;
  }
  
  @keyframes animate-wave {
    0% {
      transform: rotate(0);
    }
    50% {
      transform: rotate(30deg);
    }
    100% {
      transform: rotate(0);
    }
  }
  
  .pic__container{
   display: flex;
   flex-direction:row-reverse ;
   justify-content: right;
    margin:  10px auto;
    /* max-width: 20%; */
    position: relative ;
        right: 32px;
        top:  204px;
  }

  .about-picture--container{
      position: fixed;
bottom: 13.3rem;
left: 38rem;
max-width: 100%;
width: auto;
margin: 8px;
padding: 4px;
  }
  .about-me__picture--mask {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16);
    scale: .60;
    animation: animate-profile-picture 800ms 200ms backwards;
  }
  .about-me__picture {
    width: 100%;
  
    /* Improving my own picture */
    transform: scale(1.5);
    padding-top: 8px;
    padding-right: 8px;
  }
  
  @keyframes animate-profile-picture {
    0% {
      transform: scale(0);
    }
    80% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  



/* 

NAVIGATION

*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding:10px 20px ;
    height: 100px;
}

.nav__link--list{
    display: flex;
    text-decoration: none;
}

#jglogo{
    width: 60px;
    height: 60px; 

}

.nav__link{
    margin: 0 12px;
}

.nav__link--anchor{
    font-size: 16px;
    color: #242424;
    font-weight: 700;

}



.fa-adjust{
    font-size: 20px;
}

/* 

MODAL 

*/

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90% ;
    max-width: 1100px;
    height: 700px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    visibility: hidden;
    transition: visibility 1s, z-index 1s, box-shadow 0.5s ease;
    z-index: -1;

    
}


    
    .modal--open .modal{
    z-index: 60;
    box-shadow: 0 20px 80px 0 rgb(0,0,0,0.55);
    visibility: visible;
    }
    
.modal__half{
    width: 50%;
    padding:40px 72px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
position: relative;
transition: all 300ms ease-in;
}

.modal--open .modal__about,
.modal--open .modal__contact {

transform: translateX(0%);
}
.modal__about{
    background-color:#F2D8CF ;
    color: #242424;
    transform: translateX(-110%);

}
.modal__contact{
    background-color: #242424;
    color: white ;
    transform: translateX(110%);

}

.modal__languages{
    display: flex;
    flex-wrap: wrap ;
}

.modal__language{
width: 25%;
padding: 16px;
position: relative;
display: flex;
flex-direction: column;
align-items: center;
transition: all ease 200ms;
}

.modal__language:hover .language__name{
transform:scale(1);
opacity: 100%;
}

.modal__language:hover{
filter: brightness(80%);
transform: scale(0.9);
}
.language__name{
    position: absolute;
bottom: -10px;
transform: scale(0);
transition: all 300ms ease;
opacity: 0%;
}
.modal__language--img{
    width: 100%;
}

.modal__title{
    font-size: 26px;
}

.modal__sub-title{
    margin: 12px 0 24px 0;
    font-size: 14px;
}

.modal__para{
    margin-bottom:12px ;
    line-height: 1.75;
}


.form__item{
    margin-bottom: 20px;
}

.form__submit{
background-color: #D68A71;
font-size: 20px;
font-weight: bold;
color: white;
border: 3px solid #D68A71;
border-radius: 25px;

max-width: 240px;
width: 100%;
padding: 12px 24px;
transition: all ease 300ms;
}

.form__submit:hover{
    background-color: #3C86F6;
    border-color: #3C86F6;
}

.form__submit:active{
    border-color: #3C86F6;
    color: #3C86F6;
}

.modal__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: -1;
  }
  
 .modal__overlay--loading {
    background-color: #3C86F6;
    font-size: 80px;
    
  }
  
  .modal__overlay--success {
    background-color: #24c063;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    padding: 28px;
  }
  
  .modal__overlay--visible {
    z-index: 1;
    display: flex;
  }
  

.fa-spinner{
animation: spinner 750ms infinite linear;}

@keyframes spinner{
    0% {
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}

.modal__exit{
position: absolute;
top: 30px;
right: 40px;
z-index: 100;
color: white;
font-size: 36px;
}



/* 

PROJECTS


*/

.section__title{
    text-align: center;
    font-size: 48px;
    margin-bottom: 60px;
}

.project__img{
    width: 100%;
    transition: all ease 500ms;

}

.project:hover  .project__img{
    transform: scale(1.07);
    filter: blur(5px);
}
.project__wrapper{
    position: relative;
    border-radius:20px ;
    box-shadow: 0 10px 50px 0 rgb(0, 0, 0, 0.45);
    overflow: hidden;
}

.project__wrapper:hover .project__desc{
    opacity: 1;
    transform: translateY(-50%);
}

.project__wrapper:hover .project__img{
    transform: scale(1.07);
    filter: blur(5px);
}
.project__desc{
    position: absolute;
    top: 50%;
    left: 90px;
    transform: translateY(100%);
    opacity: 0;
    transition: opacity 300ms, transform 450ms ease;
    color: white;
    max-width: 550px;
} 

.project__wrapper:hover .project__wrapper--bg{
opacity: 0.7;
}

.project__wrapper--bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1c1d25;
    opacity: 0;
    transition: all 450ms ease;
}   

.project__desc--title{
font-size: 40px;
}

.project__desc--sub-title{
margin-top: 8px;
}
.project__desc--link{
    color: white;
    font-size: 20px;
    margin-right: 16px;
}

.project__desc--para{
    margin: 16px 0;

}

/* 

footer 

*/

footer{
background-color: #d68a714b;
    padding: 6% 0%;
    position: relative;
    z-index: 1;
    z-index: 1;
}

.footer__row{
 display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__logo--img{
    width: 70px;
}

.footer__social--link, .footer_copyright
{
    color: white;
}

.footer__social--list{
    width: 100%;
    display: flex;
    justify-content: space-around;
    max-width: 500px;
    margin: 32px 0;
}



/* shapes
 3 rows

height = 35vh

height = 70vh

height = 95

first column 5vw

50vw

80vw
*/
.shape{
position: fixed;
z-index: 0;

}
.shape--0{
    top: 15vh;
    left: 5vw;
    filter: saturate(60%);

}
.shape--1{
    top: 15vh;
    left: 50vw;

    filter: grayscale(100%);


}
.shape--2{
    top: 15vh;
    left: 80vw;
    filter: sepia(110%);
}
.shape--3{
    top: 50vh;
    left: 5vw;
    filter: invert(100%);
    filter: grayscale(100%);
    filter: brightness(100%);
}
.shape--4{
    top: 50vh;
    left: 50vw;
    filter: sepia(110%);


}
.shape--5{
    top: 50vh;
    left: 80vw;
    filter: contrast(30%);
    filter: invert(60%);
    /* filter: saturate(20%); */
}
.shape--6{
    top: 80vh;
    left: 5vw;
    filter: grayscale(100%);
}
.shape--7{
    top: 80vh;
    left: 50vw;
    filter: grayscale(100%);

}
.shape--8{
    top: 80vh;
    left: 80vw;
    filter: saturate(60%);

}



/* small phones, tablets ect */


@media (max-width: 768px){
    .title{
        font-size: 80px;
    }

    .header__para{
        font-size:20px;
    }

    .modal {
        top: 0;
        left: 0;
        height: auto;
        transform: none;
        width: 100%;
        flex-direction: column-reverse;
    }

.modal__half{
width: 100%;
}
.shape{
    opacity: 10%;
}

.about-picture--container{
    left: 30rem;
}


}


/* small phones  */
@media (max-width: 698px){
    .title{
        font-size: 52px;
    }
    .header__para{
        font-size: 18px;
    }

    .nav__link:first-child{
display:none;   
 }

 .project__desc--para{
    display: none;
 }
 .project__desc{
    width: 100%;
    padding: 0;
    left: 0;
    text-align: center;
 }
 .project__desc--sub-title{
    margin-bottom: 8px;
 }

 .modal__half{
    padding: 40px;
 }

 .about-picture--container{
    bottom: 22rem;
    left: 4rem;
    scale: .65;
    padding: 5px;
    align-items: center;
  
}
}